<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aerosmith</title>
</head>
<body>
    <h1>Dream on</h1>
        <h4>Aerosmith</h4>
        <h2>
            Every time when I look in the mirror <br>
    All these lines on my face getting clearer<br>
    The past is gone<br>
    And it went by, like dusk to dawn<br>
    Isn't that the way?<br>
    Everybody's got their dues in life to pay<br>
    Yeah, I know nobody knows<br>
    Where it comes and where it goes<br>
    I know it's everybody's sin<br>
    You got to lose to know how to win<br>
    Half my life's in books, written pages<br>
    Live and learn from fools and from sages<br>
    You know it's true, oh<br>
    All the things come back to you<br>
    Sing with me, sing for a year<br>
    Sing for the laughter, and sing the tear<br>
    Sing with me, if it's just for today<br>
    Maybe tomorrow, the good Lord will take you away<br>
    Yeah, sing with me, sing for the year<br>
    Sing for the laughter, and sing for the tear<br>
    Sing it with me, if it's just for today<br>
    Maybe tomorrow, the good Lord will take you away<br>
    Dream on<br>
    Dream on<br>
    Dream on<br>
    Dream until the dream come true<br>
    Dream on<br>
    Dream on<br>
    Dream on<br>
    Dream until your dream come true<br>
    Dream on<br>
    Dream on<br>
    Dream on<br>
    Dream on<br>
    Dream on<br>
    Dream on<br>
    Dream on, ah<br>
    Sing with me, sing for the year<br>
    Sing for the laughter and sing for the tear<br>
    Sing with me, if it's just for today<br>
    Maybe tomorrow, the good Lord will take you away<br>
    Sing with me, sing for the year<br>
    Sing for the laughter, and sing for the tear<br>
    Sing it with me, if it's just for today<br>
    Maybe tomorrow, the good Lord will take you away<br>
    
        </h2>
    
</body>
</html>