<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Big Sea</title>
</head>
<body>
    <h1>
        Ordinary Day
    </h1>
    <h4>
        Great Big Sea
    </h4>
    <h2>
        I've got a smile on my face and I've got four walls around me <br>
I've got the sun in the sky, all the water surround me, oh, you know<br>
Yeah, I win now and sometimes I lose<br>
I've been battered, but I never bruise<br>
It's not so bad<br>
And I say way-hey-hey, it's just an ordinary day<br>
And it's all your state of mind<br>
At the end of the day<br>
You've just got to say it's all right<br>
Janie sings on the corner, what keeps her from dying<br>
Let them say what they want, she won't stop trying, oh, you know<br>
She might stumble if they push her 'round<br>
She might fall, but she'll never lie down<br>
It's not so bad<br>
And I say way-hey-hey, it's just an ordinary day<br>
And it's all your state of mind<br>
At the end of the day<br>
You've just got to say it's all right<br>
It's all right, it's all right<br>
It's all right<br>
In this beautiful life there's always some sorrow<br>
And It's a double-edged knife, but there's always tomorrow, oh, you know<br>
It's up to you now if you sink or swim<br>
Just keep the faith that your ship will come in<br>
It's not so bad<br>
And I say way-hey-hey, it's just an ordinary day<br>
And it's all your state of mind<br>
At the end of the day<br>
You've just got to say<br>
I say way-hey-hey, it's just an ordinary day<br>
And it's all your state of mind<br>
At the end of the day<br>
You've just got to say it's all right<br>
It's all right, it's all right<br>
'Cause I've got a smile on my face, and I've got four walls around me<br>

    </h2>
    
</body>
</html>