<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Prine</title>
</head>
<body>
    <h1>
        Please Don't Bury Me
    </h1>
    <h4>
        John Prine
    </h4>
    <h2>
        Woke up this morning <br>
Put on my slippers<br>
Walked in the kitchen and died<br>
And oh what a feeling<br>
When my soul went through the ceiling<br>
And on up into heaven I did ride<br>
<br>
When I got there they did say<br>
John, it happened this way<br>
You slipped upon the floor and hit your head<br>
And all the angels say<br>
Just before you passed away<br>
These were the very last words that you said<br>
<br>
Please don't bury me down in that cold cold ground<br>
No, I'd druther have 'em cut me up and pass me all around<br>
Throw my brain in a hurricane and the blind can have my eyes<br>
And the deaf can take both of my ears, if they don't mind the size<br>
<br>
Give my stomach to Milwaukee<br>
If they run out of beer<br>
Put my socks in a cedar box<br>
Just get 'em out of here<br>
Venus de Milo can have my arms<br>
Look out, I've got your nose<br>
Sell my heart to the junkman<br>
And give my love to Rose<br>
    </h2>
    
</body>
</html>